<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was developed by <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a>. Two web developers who are on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    This particular Splutry Application was built by Cory Hack, a student of The Firehose Project. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'IMG_1382.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Cory Hack</h2>
      <br />
      <p>
        Cory Hack is a student web developer of The Firehose Project. He currently works in live event productions as a video director, engineer, and projectionist. He is wanting to expand his knowledge base with web development in hopes of creating more experiential events. He lives in Indianapolis, IN with his wife and daughter. 
      </p>
    </div>
  </div>
  <br class="clear" />

 
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />